$header-font: 'Nothing You Could Do', sans-serif;
$text-font: 'Quicksand', sans-serif;
$blue: #5cbfdf;
$pink: #eb386f;
$bg-color: #f0f0f0;
$text-color: #121212;
$small: 430px;
$mobile: 700px;
$medium: 992px;
$project-border: #919394;