@import 'normalize';
@import 'grid';
@import 'var';

*{
	box-sizing: border-box;
}

html{
	height: 100%;
}

body{
	font-family: $text-font;
	font-size: 22px;
	@media(max-width:600px){font-size:22px;}
	color: $text-color;
	background: $bg-color;
	height: 100%;
}

h2, h3{
	font-weight: normal;
}

a, a:active, a:visited{
	text-decoration: none;
	color: #CB0441;
	&:hover{
		color: lighten(#CB0441, 5);
	}
	img{
		transition: opacity 1s;
		-webkit-transition: opacity 1s;
		&:hover{
			opacity: 0.7;
		}
	}
}

.left{@media(min-width:600px){float:left;}}
.right{@media(min-width:600px){float:right;}}
.left-align{text-align:left;}
.right-align{text-align:right;}
.center-align{text-align:center;}
.clear{content:"";
	   display:table;
	   clear:both;}

.hidden{display: none;}
.show-block{display: block;}
.show-ib{display:inline-block;}
.show-inline{display:inline;}
.hidden-mobile{@media(max-width:600px){display:none;}}

.sub-title{
  font-size: 1.5rem;
  font-weight: 600;
}
.pink{
  color: $pink;
}
.blue{
  color: $blue;
}
.quicksilver{
  font-family: $text-font;
}

.bottom{
		position: absolute;
		bottom: 5%;
		width: 100%;
}

.header-image{
	background-image: url('../img/header.jpg');
	background-size: cover;
	background-position: top;
  	@media(max-width:600px){
	  background-size:330%
	}
  	//box-shadow: inset 0px -70px 80px $bg-color;
}

header{
	background: #aaa;
	width: 100%;
	position: relative;
	text-align: center;
	height: 100%;
	min-height: 950px;
  @media(max-width:600px){max-height: 500px; min-height: 0;}
	overflow: hidden;
	
	#header-text{
		position: relative;
		top: 10%;
	  	a:hover{
		  img{opacity:0.5;}
		}

			h1{	margin: 0;
				font-family: $header-font;
				font-size: 8rem;
			  	color:#393939;
			  @media(max-width:600px){font-size:3.4rem;}
			}
			h2{	margin: -40px 0 0 0;
				font-weight: 300;
				font-size: 4rem;
			  @media(max-width:600px){font-size:1.8rem; margin-top:0;}
			}
			}
	nav{
	  @media(max-width:600px){display:none;}
		font-size: 2rem;
		ul{
			list-style: none;
			padding: 0;
			li{
				padding: 0 20px;
				display: inline-block;
				
				a, a:active, a:visited{
					transition: color 500ms;
					-webkit-transition: color 300ms;
					color: #cbcbcb;
					&:hover{color: lighten(#cbcbcb, 10);}

				}
			}
		}
	}
}



main{
	h3{	font-size: 4rem;
	  @media(max-width:600px){font-size:3rem;}
		text-align: center;
		margin-top: 0px;}
	h4{	font-size: 3rem;
	  @media(max-width:600px){font-size:2rem;}
		font-family: $header-font;
		margin: 0;}
	
	section{padding: 50px 0;
	  		@media(max-width:600px){padding: 20px 0;}
			box-shadow: inset rgba(198, 198, 198, 0.69) 0px 10px 30px;
	}

  	#about{
	  h4{font-size: 2.4rem; font-weight:bold; margin-top:50px;}

	  .skills{
			h4{
			  height: 40px;
			}
			text-align: center;
			.skill-icons{
			  background-image: url('../img/skill_icons.png');
			  height: 135px;
			  width:135px;
			  margin: 0 auto;
			}
			#art-icon{background-position: 0 0;}
			#code-icon{background-position: 270px 0;}
			#other-icon{background-position: 135px 0;}

			  ul{
			font-size: 2rem;
				@media(max-width:600px){font-size:1.5rem;}
			text-align: left;
			list-style: none;
			padding: 0;
			max-width: 375px;
			margin: 50px auto;

			li{
				overflow: hidden; 
				height:40px; 
					&:hover{
						opacity: 0.7;
					}
			}

			.pink-skill, .blue-skill{display:inline-block; float:right; height: 90%; text-indent: -999rem;}
			.pink-skill{background-color:$pink;}
			.blue-skill{background-color:$blue;}
			.level1{width:10%;}
			.level2{width:20%;}
			.level3{width:30%;}
			.level4{width:40%;}
			.level5{width:50%;}
		  }
	  }
		
		.experience{
			h4{margin-top: 0;}
			h5{
				font-size:1.5rem;
			  @media(max-width:600px){font-size:1.8rem;}
				display: inline;
				padding: 0px 10px;
				margin: 20px 0 0 0;
			}
		  @media(max-width:600px){font-size:1.7rem;}
			ul{
				list-style:none;
				padding: 0;
				
				li{
					cursor: pointer; cursor: hand;
					width: 85%;
					margin: 0 auto;
					background: darken($bg-color, 10);
					
					&:nth-child(even){
						background: $bg-color;
					}
				
					p{
						margin: 20px 0 0 0;
						padding: 0 10px;
					}
					
					&:hover{
						.seeMoreButton{
							opacity: 1;
						}
					}
					.seeMoreButton{
						width: 100%;
						margin: 0;
						padding: 0;
						color: darken($bg-color, 30);
						opacity: 0;
						transition: opacity 200ms;
					}
					.seeMore{
						background: $bg-color;
						color: $text-color;
						transition: max-height 1s;
						text-align: left;
						margin: 0;
						overflow: hidden;
					}
					.hide{max-height:0;}
					.show{max-height: 200px; height:auto; @media(max-width:600px){max-height:300px;}}
				}
				
			}
		}
	  
	}

	#projects{
		background: #aaaaaa;
	  	box-shadow: inset rgba(149, 149, 149, 0.69) 0px 10px 30px;
	  	overflow: auto;
		.row{
			margin: 0 auto;
		}
		
		.projects{
			position:relative;
			margin: 0;
		  @media(max-width:600px){
			display:none;
		  }
		}

	  	.mobile-projects{

		  display: none;
		  @media(max-width:600px){
			display:block;
		  }
		}
		
		.project{
			@media(min-width:600px){
		  	height: 450px;}
			
			display: inline-block; float: left;
			position:relative;

		  @media(min-width:600px){
			.column, .columns{
				position:relative;
				height: 100%;
			}
		  }
			
			.arrow{
				position: relative;
				cursor: pointer; cursor: hand;
				top: 50%;
				background-image: url('../img/arrow.png');
				height: 60px;
				width: 30px;
				
				
				&:hover{
					opacity: 0.8;
				}
			}
			.next{background-position: 30px;}
			
		}
	}
	#contact{
	  .contact-icon{
		background-image: url('../img/contact_icons.png');
		height: 100px;
		width: 100px;
		margin: 0 auto;
		display:inline-block;

		&:hover {
			opacity: 0.7;
		}
	  }
	  .mail {
	  }
	  .git {
	  	background-position: 100px;
	  }
	  .li {
	  	background-position: 200px;
	  }
	}
}

footer{
	text-align: center;
  background: rgba(225, 225, 225, 1);
  p{
	margin: 0;
  }
}