@import 'normalize';
@import 'grid';
@import 'var';

*{
	box-sizing: border-box;
}

html{
	height: 100%;
}

body{
	font-family: $text-font;
	font-size: 22px;
	color: $text-color;
	background: $bg-color;
	height: 100%;
}

h2, h3{
	font-weight: normal;
}

a, a:active, a:visited{
	text-decoration: none;
	color: #A20017;
	&:hover{
		color: lighten(#A20017, 10);
	}
	img{
		transition: opacity 1s;
		-webkit-transition: opacity 1s;
		&:hover{
			opacity: 0.7;
		}
	}
}

.left{float:left;}
.right{float:right;}
.left-align{text-align:left;}
.right-align{text-align:right;}
.center-align{text-align:center;}
.clear{content:"";
	   display:table;
	   clear:both;}

.hidden{display: none;}
.show-block{display: block;}
.show-ib{display:inline-block;}
.show-inline{display:inline;}
	

.sub-title{
  font-size: 1.5rem;
  font-weight: 600;
}
.pink{
  color: $pink;
}
.blue{
  color: $blue;
}
.quicksilver{
  font-family: $text-font;
}

.bottom{
		position: absolute;
		bottom: 5%;
		width: 100%;
}

.header-image{
	background-image: url('../img/header.jpg');
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
}

header{
	background: #000;
	width: 100%;
	position: relative;
	text-shadow: 2px 2px 1px #000;
	text-align: center;
	color: #cbcbcb;
	height: 90%;
	min-height: 950px;
	overflow: hidden;
	
	#header-text{
		position: relative;
		top: 10%;

			h1{	margin: 0;
				font-family: $header-font;
				font-size: 8rem;}
			h2{	margin: -40px 0 0 0;
				font-weight: 300;
				font-size: 4rem;}
			}
	nav{
		font-size: 2rem;
		ul{
			list-style: none;
			padding: 0;
			li{
				padding: 0 20px;
				display: inline-block;
				
				
				a, a:active, a:visited{
					transition: color 500ms;
					-webkit-transition: color 300ms;
					color: #cbcbcb;
					text-shadow: 2px 2px 5px #000;
					&:hover{color: #fff;}
				}
			}
		}
	}
}



main{
	h3{	font-size: 4rem;
		text-align: center;
		margin-top: 0px;}
	h4{	font-size: 3rem;
		font-family: $header-font;
		margin: 0;}
	
	section{padding: 50px 0;}

  	#about{
	  h4{font-size: 2.4rem; font-weight:bold; margin-top:50px;}

	  .skills{
			h4{
			  height: 40px;
			}
			text-align: center;
			.skill-icons{
			  background-image: url('../img/skill_icons.png');
			  height: 135px;
			  width:135px;
			  margin: 0 auto;
			}
			#art-icon{background-position: 0 0;}
			#code-icon{background-position: 270px 0;}
			#other-icon{background-position: 135px 0;}

			  ul{
			font-size: 2rem;
			text-align: left;
			list-style: none;
			padding: 0;
			max-width: 375px;
			margin: 50px auto;

			li{
				overflow: hidden; 
				height:40px; 
					&:hover{
						opacity: 0.7;
					}
			}

			.pink-skill, .blue-skill{display:inline-block; float:right; height: 90%; text-indent: -999rem;}
			.pink-skill{background-color:$pink;}
			.blue-skill{background-color:$blue;}
			.level1{width:10%;}
			.level2{width:20%;}
			.level3{width:30%;}
			.level4{width:40%;}
			.level5{width:50%;}
		  }
	  }
		
		.experience{
			h4{margin-top: 0;}
			h5{
				font-size:1.5rem;
				display: inline;
				padding: 0px 10px;
				margin: 20px 0 0 0;
			}
			ul{
				list-style:none;
				padding: 0;
				
				li{
					cursor: pointer; cursor: hand;
					width: 85%;
					margin: 0 auto;
					background: darken($bg-color, 10);
					
					&:nth-child(even){
						background: $bg-color;
					}
				
					p{
						margin: 20px 0 0 0;
						padding: 0 10px;
					}
					
					&:hover{
						.seeMoreButton{
							opacity: 1;
						}
					}
					.seeMoreButton{
						width: 100%;
						margin: 0;
						padding: 0;
						color: darken($bg-color, 30);
						opacity: 0;
						transition: opacity 200ms;
					}
					.seeMore{
						background: $bg-color;
						color: $text-color;
						transition: max-height 1s;
						text-align: left;
						margin: 0;
						overflow: hidden;
					}
					.hide{max-height:0;}
					.show{max-height: 200px; height:auto;}
				}
				
			}
		}
	  
	}

	#projects{
		background: #aaaaaa;
		.row{
			margin: 0 auto;
		}
		
		.projects{
			position:relative;
			margin: 0;
		}
		
		.project{
			height: 450px;
			
			display: inline-block; float: left;
			position:relative;
			
			.column, .columns{
				position:relative;
				height: 100%;
			}
			
			.arrow{
				position: relative;
				cursor: pointer; cursor: hand;
				top: 50%;
				background-image: url('../img/arrow.png');
				height: 60px;
				width: 30px;
				
				
				&:hover{
					opacity: 0.8;
				}
			}
			.next{background-position: 30px;}
			
		}
	}
}

footer{
	text-align: center;
}